*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  background-image: url('./assets/doodleback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-weight:bolder;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  max-width: 1440px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-form{
  width: 400px;
  height: auto;
  margin: 20px auto;
}

.switch{
  margin: 10px;
}

.icons:hover{
  font-size:larger;
  transition: all 0.2s ease;
}
.add-btn {
  margin: 10px;
}

.add-input{
  margin: 10px;
  
}
.add-input .txt-area{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.todo-box{
  background-color: rgb(169, 188, 250);
  width: 400px;
  padding: 10px;
  margin: 1%;
  display: flex;  
  padding: 1%;
  border: 5px rgb(76, 86, 240) solid;
  justify-content: space-between;
  
 
  
}
.todo-box  .para{
  width: 250px;
  
  overflow: hidden;
}
.todo-box .content{
  display: flex;
}





.todo-box span{
  margin: 0 5px;
}

.delete-all{
  width: 400px;
}

.actions-box{
  cursor: pointer;
}

.back-btn{
  margin-top: 5px;
  width: 100%;
}